@tailwind base;
@tailwind components;
@tailwind utilities;

.record_cell_input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.record_cell {
    user-select: none;
    display: flex;
    justify-content: center;
}

.record_cell::before {
    content: '';
    display: block;
    width: 2rem;
    height: 1rem;
    background: #b1e0ff;
    border-radius: 2px;
    margin: 0 .1rem;
    cursor: pointer;
}

.record_cell_input:checked + .record_cell::before {
    background-color: hsl(var(--p));
}

/* стили при наведении курсора на checkbox */
.record_cell_input:not(:disabled):not(:checked) + .record_cell:hover::before {
    box-shadow: 0 0 0 .1rem hsl(var(--p));
}

/* стили для чекбокса, находящегося в фокусе */
.record_cell_input:focus + .record_cell::before {
    box-shadow: 0 0 0 .1rem hsl(var(--p));
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.record_cell_input:focus:not(:checked) + .record_cell::before {
    border-color: hsl(var(--p));
}

/* стили для чекбокса, находящегося в состоянии disabled */
.record_cell_input.free:disabled + .record_cell::before {
    background-color: #d4e9ff;
    cursor: default;
}

.record_cell_input.off:disabled + .record_cell::before,
.record_cell_input.disabled:disabled + .record_cell::before {
    background-color: hsl(var(--b2));
    cursor: default;
}

.record_cell_input.booked + .record_cell::before {
    background-color: hsl(var(--su)) !important;
}

a.record_cell::before {
    cursor: pointer !important;
}

.record_cell_input.booked.off + .record_cell::before {
    background-color: hsl(var(--er)) !important;
    cursor: default !important;
}

