@tailwind base;
@tailwind components;
@tailwind utilities;

.record_cell_input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.record_cell {
    user-select: none;
    display: flex;
    justify-content: center;
}

.record_cell::before {
    content: '';
    display: block;
    width: 2rem;
    height: 1rem;
    background: #82cfff;
    margin: 0 .1rem;
    cursor: pointer;
}

.record_cell_input:checked + .record_cell::before {
    background-color: #4965e0;
}

/* стили при наведении курсора на checkbox */
.record_cell_input:not(:disabled):not(:checked) + .record_cell:hover::before {
    box-shadow: 0 0 0 .1rem #4965e0;
}

/* стили для чекбокса, находящегося в фокусе */
.record_cell_input:focus + .record_cell::before {
    box-shadow: 0 0 0 .1rem #4965e0;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.record_cell_input:focus:not(:checked) + .record_cell::before {
    border-color: #4965e0;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.record_cell_input.free:disabled + .record_cell::before {
    background-color: #d4e9ff;
    cursor: default;
}

.record_cell_input.disabled:disabled + .record_cell::before {
    background-color: #e9ecef;
    cursor: default;
}

.record_cell_input.booked + label > .record_cell::before {
    background-color: #41bb3c !important;
    cursor: pointer;
}

