<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запись на стирку</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% import "macros.html" as macros %}
</head>
<body>
{% with client_name = client_name %}
    {% include 'header.html' %}
{% endwith %}
<main>
    <h1>Запись на стирку {{ week_days[0].strftime('%d.%m') }}–{{ week_days[6].strftime('%d.%m') }}</h1>
    <form action="" method="post" id="record_form">
        <div class="record_tables">
            {{ macros.render_record_block(machine_records, client_id, week_days, records) }}
        </div>
        <input type="submit" class="record_button" value="Записаться">
    </form>
</main>

</div>
</body>
</html>