{% extends "header.html" %}
{% block title %}
    Запись на стирку
{% endblock %}
{% block header_title %}
    {% if client_id != -1 %}
        <div>
            <h1>Запись на стирку {{ week_days[0].strftime('%d.%m') }}–{{ week_days[6].strftime('%d.%m') }} |
                Корпус {{ building_code }}</h1>
        </div>
    {% endif %}
{% endblock %}
{% block before_body %}
    {% if client_id == -1 %}
        <input type="checkbox" id="login-modal" class="modal-toggle"/>
        <div class="modal">
            <div class="modal-box w-3/12 relative">
                <label for="login-modal" class="btn btn-sm btn-square absolute right-2 top-2">✕</label>
                <h3 class="text-lg font-bold text-center">Вход</h3>
                <form action="{{ url_for('auth') }}" method="post">
                    <div class="form-control mb-1">
                        <label class="label">
                            <span class="label-text">Телефон</span>
                        </label>
                        <input name="phone" type="tel" placeholder="7 956 168-98-34"
                               class="input input-bordered max-w-xs"/>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Пароль</span>
                        </label>
                        <input name="password" type="password" placeholder="·········"
                               class="input input-bordered max-w-xs"/>
                    </div>
                    <button class="btn btn-block btn-primary mt-5 mx-auto">Войти в Стиралку</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="modal" id="delete-modal">
            <div class="modal-box">
                <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
                <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for
                    free!</p>
                <div class="modal-action">
                    <a href="#" class="btn">Yay!</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block body %}
    {% if client_id == -1 %}
        <main>
            <h2 class="text-primary text-6xl">Сервис для записи на стирку</h2>
            <label for="login-modal" class="btn btn-primary btn-wide">Записаться на стирку</label>
        </main>
    {% else %}
        <form class="container flex flex-col mx-auto items-center gap-5" action="" method="post"
              id="record_form">
            {{ macros.render_record_block(machine_records, client_id, week_days, records) }}
            <input class="btn btn-primary btn-wide"
                   type="submit"
                   value="Записаться на стирку">
        </form>
    {% endif %}
{% endblock %}