{% macro render_record_block(machine_records, client_id, week_days, records) %}
    <div class="carousel carousel-center gap-5">
        {% for machine_floor, values in machine_records.items() %}
            {{ render_record_card(machine_floor[0],
                machine_floor[1],
                client_id,
                week_days,
                values,
                records) }}
        {% endfor %}
    </div>

    <script>
        function checkLimit() {
            if (document.querySelectorAll('.record_cell_input:checked').length >= 3) {
                let recordCells = document.querySelectorAll('.record_cell_input:not(:checked)');
                recordCells.forEach(recordCell => recordCell.setAttribute('disabled', ''));
            } else {
                let recordCellsFree = document.querySelectorAll('.record_cell_input.free');
                recordCellsFree.forEach(recordCell => recordCell.removeAttribute('disabled'))
            }
        }

        document.querySelectorAll('.record_cell_input').forEach(recordCell => recordCell.addEventListener('change', checkLimit))
        checkLimit()
    </script>
{% endmacro %}

{% macro render_record_card(floor_num, machine_num, client_id, week_days, machine_records, records) %}
    <div class="carousel-item">
        <table class="table-fixed">
            <thead>
            <tr>
                <th></th>
                <th colspan="7" class="font-bold text-sm">
                    <p>Этаж {{ floor_num }}</p>
                    <p>Машинка {{ machine_num }}</p>
                </th>
            </tr>
            <tr>
                {% set days = ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'] %}
                <th></th>
                {% for i in range(7) %}
                    <th class="font-medium text-xs">
                        <p class="week_day">{{ days[i] }}</p>
                        <p class="week_date">{{ week_days[i].strftime('%d.%m') }}</p>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for time, time_records in machine_records.items() %}
                <tr>
                    <td class="font-medium text-xs">
                        <span class="hour">{{ time[0] + time[1] }}</span><sup
                            class="minutes">{{ time[3] + time[4] }}</sup>
                    </td>
                    {% for time_record_index in time_records %}
                        <td>

                            {% set time_record = records.iloc[time_record_index] %}
                            <input type="checkbox"
                                   value="{{ time_record.laundry_registry_id }}"
                                   id="{{ time_record.laundry_registry_id }}"
                                   name="record_cell"
                                   class="record_cell_input
                                    {% if time_record.state == 1 %}
                                   free
                                    {% elif time_record.state == -1 %}
                                   off
                                    {% else %}
                                   disabled
                                    {% endif %}
                                    {% if time_record.clientele_id == client_id %}
                                   booked
                                    {% endif %}"
                                    {% if time_record.clientele_id == client_id and time_record.state != -1 %}
                                   checked
                                    {% endif %}
                                    {% if time_record.state != 1 %}
                                   disabled
                                    {% endif %}
                            >
                            {% if time_record.clientele_id == client_id and time_record.state == 2 %}
                                <a href="#delete-modal" class="record_cell" id="{{ time_record.laundry_registry_id }}"
                                   onclick="document.querySelector('#delete-modal button').value = this.id"></a>
                            {% else %}
                                <label for="{{ time_record.laundry_registry_id }}" class="record_cell"></label>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}