{% extends "header.html" %}
{% block title %}
    Мои записи
{% endblock %}
{% block header_title %}
    <h1>{{ client_name }} | Корпус {{ building_code }}</h1>
{% endblock %}
{% block body %}
    <main>
        <h2 class="text-primary text-xl">Мои записи</h2>
        {% set columns = {'record_date':'Дата', 'record_time':'Время', 'floor_num':'Этаж', 'washing_machine_id':'Машинка', 'state':'Статус'} %}
        <table class="table">
            <thead>
            <tr>
                {% for name in columns %}
                    <th>{{ columns[name] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i, record in profile_records.iterrows() %}
                <tr>
                    {% for name in columns %}
                        <td>
                            {% set value = record[name] %}
                            {% if name == 'state' %}
                                {% if value == 1 %}
                                    <form action="{{ url_for('index') }}" class="flex gap-2">
                                        <span class="text-accent">Активно</span>
                                        <button class="btn btn-outline btn-error normal-case btn-xs"
                                                name="record_cell_to_delete"
                                                value="{{ record.laundry_registry_id }}">
                                            Отменить
                                        </button>
                                    </form>
                                {% else %}
                                    Прошло
                                {% endif %}
                            {% else %}
                                {{ record[name] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="flex gap-2">
            <button class="btn btn-outline normal-case">Сменить пароль</button>
            <form action="{{ url_for('auth') }}" method="post">
                <button name="logout" value="logout" type="submit" class="btn btn-outline btn-error normal-case">
                    Выйти из аккаунта
                </button>
            </form>
        </div>
    </main>
{% endblock %}