<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запись на стирку</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% import "macros.html" as macros %}
</head>
<body>
{% include 'header.html' %}
<main>
    <div class="record_info">
        <h1>Запись на стирку</h1>
        <h2>{{ week_start_date.strftime('%d.%m') }}–{{ week_finish_date.strftime('%d.%m') }}</h2>
        <p>Корпус №{{ building_code }}</p>
    </div>
    <form action="" method="get">
        <div class="record_tables">
            {% for machine_floor, values in machine_records.items() %}
                {{ macros.render_record_card(machine_floor[0], machine_floor[1], values, records) }}
            {% endfor %}
        </div>
        <input type="submit">
    </form>
</main>

</div>
</body>
</html>